$fontFamily:'Poppins', sans-serif;
$configuracionMorado:#6D128F;
$azulSuave:#E0F8FC;
$negro:#000000;
$azulFuerte:#060A0F;
$blancoColor:#FCFCFC;
$blanco:#FFFFFF;
$verde:#03A75A;
$verdeSuave:#ACFED7;
$morado:#8638AD;
$moradoSuave:#BF86DF;
$azul:#00acf5;
$rojo:#F50C00;
$rojoSuave:#FFC0BD;
$rojoFuerte:#7B0600;
$grisOscuro:#343333;
$grisFuerte:#2A2C2C;
$gris:#737273;
$grisSuave:#D1D1D1;
$naranja:#FF8A00;
$moradoOscuro:#6D128F;
$fuenteVerde:#3F723D;
$azulNav:#0073A3;
$azulBoton:#003952; 
$cafe:#D68D54;
$verdeExito:#02542D;
$azulFondo:#1e3449;

/*====dispositivos====*/
$telefono:541px;
$tabletMedio:786px;
$tablet:882px;

$desktopMedio:1172px;
$desktop:1440px;



//tamaños de hn
$h1:4rem;
$h2:3.6rem;
$h3:3rem;
$h4:2.6rem;

//fuentes
$delgado:300;
$regular:400;
$bold:700;
$black:900;

//skills tamaño para su porcentaje
$progress:0%;