.barra{
	display:flex;
	flex-direction: column;
	color: $blanco;

	@media(width >=882px){
		flex-direction: row;
		justify-content: space-between;
	}
}

.navegacion
{

	display:none;
	.enlace{
		position:relative;
		opacity: 0;
		animation:irDerecha 2s ease forwards;//el forwards sirve para que la animacion permanezca en la posicion final en este caso el
		// 100%{
		// opacity:1; poniendo en opacity en 1 y con esa posicion en 0
		// transform: translateX(0px);
	//} 
		animation-delay: calc(.2s * var(--i)); 
// 		animation-delay: calc(.2s * var(--i));, el primer elemento comenzará inmediatamente, el segundo comenzará después de 0.2 segundos y el tercer elemento comenzará después de 0.4 segundos.

// En resumen, animation-delay: calc(.2s * var(--i)); se utiliza para crear una secuencia escalonada en las animaciones de varios elementos, 
		
	}
	
	//background-color: green;
	.enlace::before{
		content: "";
		position:absolute;
		width: 0%;
		height: .3rem;
		bottom:-.3rem;
		left: 50%;
		transform:translateX(-50%);
		// border:1px solid #00acf5;
		background-color: #00acf5;
		transition:.2s all;
	}
	.enlace:hover::before,
	.enlace.active::before{
		width: 100%;
	}


	@media(width >=882px){
		display:flex;
		align-items: center;

	}
	a{
		color:$blanco;
		font-size: 2rem;
		display: block;
		text-align: center;
		padding: 1rem;
		&:hover{
			background-color: $azulSuave;
			@include telefono{
				background-color: transparent;
			}
		}

		@include tablet{
			margin-right: 2rem;
			border-bottom:none;
			font-size: 2rem;
			padding: 0;

			&:last-of-type{ 
				margin-right: 0;
			 }
		}

		@include telefono{
			margin-right: 2rem;
			border-bottom:none;
			padding: 0;
			font-size: 1.8rem;
			&:last-of-type{ 
				margin-right: 0;
			 }
		}
	}
}

.centrar-menu{
		display:flex;
		flex-direction: column;
		align-items: center;
}

.mobile-menu{
	filter:invert(100%);
	@media(width >=882px){
		display:none;
	}


	img{
		width: 4.5rem;
		margin:0 auto;
	}

	&.mostrar{
	display:block;

	@include telefono{
		display:flex;
		}
	}

}

.centrar__menu--mobile{
	visibility: hidden;
	position:absolute;
	top: 0;
	left: 0;
	background-color: $azulNav;
	width: 100%;
	height: 50rem;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
		.navegacion-mobile{
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
		a{
			margin-bottom: 2rem;
			display:block;

			padding:1rem 0;
			color:$blanco;
			font-weight: bold;
			border-bottom: .5px solid $grisSuave;
			&:hover{
				background-color: $azulBoton;
			}
		}

	}
	.cerrar__menu{
		position: absolute;
		font-size: 3rem;
		right: 0;
		top:0;
		padding:2rem 2rem 0 0;
		color:white;
	}
	&.active{
			visibility: visible;
	}
}



.derecha{
	display: flex;
	flex-direction: column;
	align-items: center;

	@include tabletMedio{ 
		align-items: flex-end;
	 }

	 .fa-solid {
	 	font-size: 2.5rem;
	 	// animation: irIzquierda 1s ease forwards;
	 	&:hover{
	 		cursor: pointer;
	 	}
	 }
	// .dark-mode{/*este era para el svg sin embargo dejo de funcionar no se porque*/
	// 	//filter:invert(100%);
	// 	//width: 3rem;
	// 	&:hover{
	// 		cursor: pointer;
	// 	}
	// }
}

@keyframes irIzquierda{
	0%{
		opacity:0;
		transform: translateX(100px);
	}
	100%{
		opacity:1;
		transform: translateX(0px);
	}
}
@keyframes irDerecha{
	0%{
		opacity:0;
		transform: translateX(-100px);
	}
	100%{
		opacity:1;
		transform: translateX(0px);
	}
}

.section-ajuste{
	margin-bottom: 5rem;
}