.servicios{
	display:grid;
	margin-bottom: 3rem;
	@include telefono{

		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
		row-gap:2rem;
	}
	@include tablet{
		
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}

	.servicio-card{
		background-color: white;
		box-shadow:5px 5px 10px rgba(0,153,255,.5);
		border-radius:8px;
		margin-bottom: 2rem;

		.icono{
			width: 70px;
			height: 70px;
			margin:2rem auto;
			border-radius:50%;
			background-color: orange;
			margin-bottom: 30px;
			display:flex;
			justify-content: center;
			align-items: center;

			.circulo{
				width: 95%;
				height: 96%;
				border-radius: 50%;
				border:3px solid white;
				display:flex;
				justify-content: center;
				align-items: center;

			}

			&.color1{
				background-color:orange;
			}
			&.color2{
				background-color:rgba(0,153,255,1);
			}
			&.color3{
				background-color:green;
			}

		}
		.informacion-card{
			padding:0 2rem;
			line-height:1.5;
		}
	}


}


.logo-javascript{
	font-size: 30px;
	color:$blanco;
}

.fa-database{
	color:white;
	font-size:30px;
}




	// @include telefono{
	// display:grid;
	// grid-template-columns: repeat(2,1fr);
	// column-gap: 3rem;
	// color:$negro !important;
	// }
	


// .fondo{
// 	margin:0 auto;
// 	background-color: $rojo; 
// 	width: 20%;
// 	height: 30%;
// 	border-radius:50%;
// 	display:flex;
// 	justify-content: center;
// 	align-items: center;
// 	.iconos{
// 	height: 5rem;
// 	width: 5rem;
// 	display: flex;
// 	justify-content: space-evenly;
// 	filter:invert(100%);

// 	}
// }

// .servicio-frontend, .servicios-Backend {
// 		width: 100%;
// 		background: linear-gradient(90deg, #CA91FF, #91FDFF, #9FAFFC);
// 		border-radius:1rem;
// 		box-shadow:10px 10px 10px $gris;
// 		height: auto;
// 		color:$negro;
// 			@include telefono{
// 				min-height: 400px;
// 			}
// 		}
// 		.fondo{
// 			width: 20%;
// 			height: 20%;
// 		}



